<footer class="footer" itemscope="" itemtype="http://schema.org/Organization">

                <!-- <div class="footer-top">

                </div> -->
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-10">
                                <ul>
                                    <li class="footer-language">
                                        <a href="{{ url_for('pages.about') }}"> About</a>
                                    </li>
                                    <li class="footer-language">
                                        <a href="{{ url_for('pages.privacy') }}"> Privacy Policy</a>
                                    </li>
                                    <li class="footer-language">
                                        <a href="{{ url_for('pages.terms') }}"> Terms of Use</a>
                                    </li>
                                    <li class="footer-language">
                                        <a href=""> Submit a New Song</a>
                                    </li>

                                    -&nbsp;Follow:
                                    <li class="footer-language">
                                        <a href=""> <strong>Twitter</strong></a>
                                    </li>
                                    <li class="footer-language">
                                        <a href=""> <strong>Facebook</strong></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="logo col-xs-2"></div>

                            <div class="footer-legal col-xs-12">
                                <ul>
                                    <li>&copy; 2017 <span itemprop="name">{{config.BRAND}}</span>. All rights reserved</li>
                                </ul>

                                <!-- wir nicht resp. für media -->
                                <p class="footer-legal-wiki">
                                    {{config.BRAND}} is not responsible for all audio-visuals uploaded onto this platform.
                                </p>


                            </div>
                        </div>
                    </div>
                </div>

            </footer>