<div class="top-bar">

        <section class="player-bar inactive" aria-label="audio player" aria-disabled="true">
            <div class="player-bar-inner-wrap">
                {#<a class="player-bar-artwork js-artwork">
                    <img class="" src="{{ url_for('static', filename='images/_player_default_album.png') }}" alt="">
                </a>#}

                <div class="player-bar-now-playing">
                    <div class="player-bar-now-playing-inner-wrap">
                        {#<!-- <p class="player-bar-track js-player-status" aria-label="now playing" aria-live="polite" aria-atomic="true">
                            Loading player…
                        </p> -->#}
                        <p><i>...music that heals the soul</i></p>

                        {#<p class="player-bar-error js-player-error player-bar-status--hide">
                            <span class="player-bar-error-message js-player-error-message"></span>
                        </p>#}
                    </div>
                </div>
            </div>


            {#<div class="player-bar-progress-wrap">
                <div class="player-bar-progress" aria-label="progress" role="timer">
                    <div class="
                        js-progress-slug
                        player-bar-progress-slug
                    ">
                        <span class="
                            js-progress-remaining
                            player-bar-progress-remaining
                        " aria-label="remaining"></span>
                    </div>
                </div>
            </div>

            <div data-require="player/scrobble-client"></div>#}
        </section>



    </div>